[submodule "submodule/nvim"]
	path = submodule/nvim
	url = git@github.com:flcker/ShellCfgSubmodule.git
	branch = nvim
	shallow = true
	update = rebase
[submodule "submodule/starship"]
	path = submodule/starship
	url = git@github.com:flcker/ShellCfgSubmodule.git
	branch = starship
	shallow = true
	update = rebase
[submodule "submodule/git"]
	path = submodule/git
	url = git@github.com:flcker/ShellCfgSubmodule.git
	branch = git
	shallow = true
	update = rebase
